# why functions, positional and keyword arguments in functions

In [1]:
nums=24

even

In [2]:
def even_odd(nums):
    if nums%2 == 0:
        print("even")
    else:
        print("odd")

In [3]:
even_odd(25)

odd

In [10]:
#print vs return
def hello_world():
    return "hello worlds"

In [11]:
var = hello_world()

In [12]:
print(var)

hello worlds

In [20]:

def hello(name,age=29):
    print(f"Name is {name} and age is {age}")

In [21]:
hello('Rahul',30)

Name is Rahul and age is 30

In [22]:
# *positional. argument and kwrgs is keyword argumnet
def hello(*args,**kwargs):
        print(args)
        print(kwargs)

In [23]:
hello("Amit","Rawat",age=29,dob=1990)

('Amit', 'Rawat')
{'age': 29, 'dob': 1990}

In [27]:
lst = ['Amit', 'Rawat']
dicxt = {'age': 21, 'dob': 2002}

In [29]:
hello(*lst,**dicxt) #make it as positional and keyword argument

('Amit', 'Rawat')
{'age': 21, 'dob': 2002}

In [30]:
hello(lst,dicxt)

(['Amit', 'Rawat'], {'age': 21, 'dob': 2002})
{}

In [32]:
lst = [1,2,3,4,5,6,7,8]
def evenoddsum(lst):
    even = 0
    odd = 0
    for i in lst:
        if i%2 == 0:
            even += i
        else:
            odd += i
    return even,odd

In [34]:
evenoddsum(lst)

(20, 16)

# lambda function 
anonymous fucntion
a function with no name
it is only possible when we have single expression

In [35]:
def addition(a,b):
    return a+b

In [36]:
addition(4,5)

9

In [37]:
addition = lambda a,b:a+b

In [41]:
addition(40,51)

91

In [44]:
def even(num):
    if num%2==0:
        return True

In [45]:
even(24)

True

In [46]:
even = lambda num:num%2==0

In [47]:
even(24)

True

In [48]:
def addition(x,y,z):
    return z+y+x

In [49]:
addition(2,3,4)

9

In [50]:
add = lambda a,b,c:a+b+c

In [51]:
add(3,4,5)

12

# Map Function

In [58]:
def even_odd(num):
    if num%2==0:
        return f"The number {num} is even"
    else:
        return f"The number {num} is odd"

In [59]:
even_odd(21)

'The number 21 is odd'

In [60]:
lst = [1,2,3,4,5,6,7,8,9,24,56,78,91]

In [62]:
list(map(even_odd,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 24 is even',
 'The number 56 is even',
 'The number 78 is even',
 'The number 91 is odd']

# Filter Function

In [63]:
def even(num):
    if num%2 == 0:
        return True

In [64]:
lst = [1,2,3,4,5,5,6,7,8,9,11]

In [66]:
list(filter(even,lst))

[2, 4, 6, 8]

In [67]:
filter(lambda num:num%2==0,lst)

In [68]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8]

In [69]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, False, True, False, True, False, False]

# List comprehension
List comprehensions provides a concise way to create lists. It consists of brackets containing an expression followed bt a for clause then zero or more for or it clauses the expressions can be anything meaning you can put in all kinds of objects in lists.

In [80]:
lst1 = []
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [82]:
lst_square([1,2,3,4,5,6,7,8])

[1, 4, 9, 16, 25, 36, 49, 64]

In [83]:
#converting above in list comprehension
[i*i for i in lst1]

[1, 16, 81, 256, 625, 1296, 2401, 4096]

In [84]:
lst1 = [1,2,3,4,5,6,7,8]

In [85]:
[i*i for i in lst1 if i%2==0]

[4, 16, 36, 64]